body {
  background-color: var(--blackout);
  font-family: var(--font-inter);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "footer footer";
  gap: 8px;
  height: 100vh;
}

button {
  font-family: var(--font-inter);
}

.sidebar {
  grid-area: sidebar;
  margin: 8px 0 0 8px;
}

.sidebar-navigation {
  background-color: var(--bg-dark);
  border-radius: 8px;
}

.sidebar-navigation .logo {
  background: var(--bg-dark);
  display: grid;
  align-items: center;
  border-radius: 4px;
  padding: 20px 20px;
}

.sidebar-navigation .logo img {
  width: 80px;
}

.sidebar nav ul {
  padding: 12px 20px;
}

.sidebar ul li {
  padding: 12px 0;
}

.sidebar nav ul li a {
  color: var(--color-primary-2);
  display: flex; /*Acrescimo meu*/
  gap: 16px; /*Acrescimo meu*/
  text-decoration: none;
  font-weight: 600;
  font-size: var(--font-size);
}

.library {
  display: grid;
  margin-top: 8px;
  background-color: var(--bg-dark);
  border-radius: 8px;
  color: var(--color-primary-2);
  font-weight: 600;
  font-size: var(--font-size);
}

.library .library-content {
  display: flex;
  justify-content: space-between;
  padding: 0 14px;
}

.library .library-btn {
  display: flex;
  align-items: center;
  color: var(--color-primary-2);
  background-color: transparent;
  border: 0;
  font-size: var(--font-size);
  font-weight: 700;
  text-align: center;
}

.library .library-btn .fa {
  font-size: 20px;
  margin-right: 10px;
  padding-right: 8px;
}

.library .library-content .fa-plus {
  margin: 24px 10px;
}

.library-content .fa-plus:hover {
  color: #fff;
  cursor: pointer;
}

.section-playlist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--bg-dark-secondary);
  color: var(--color-primary-2);
  font-weight: 600;
  font-size: 14px;
  margin: 8px;
  padding: 16px 20px;
  border-radius: 10px;
}

.section-playlist .section-playlist-content {
  display: flex;
  flex-direction: column;
}

.section-playlist-content .text {
  padding-bottom: 16px;
  color: var(--color-primary);
}

.section-playlist-content .title {
  font-weight: 700;
}

.section-playlist-content .subtitle {
  font-weight: 500;
  font-size: 12px;
}

.section-playlist-content .section-playlist-btn {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--blackout);
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 16px;
  margin-top: 12px;
  border: 0;
  max-width: max-content;
  cursor: pointer;
}

.sidebar .cookies {
  margin: 25px 20px;
}

.sidebar .cookies a {
  color: var(--color-primary-2);
  font-weight: 500;
  font-size: 10px;
  text-decoration: none;
}

.sidebar .cookies a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.sidebar .tags {
  display: grid;
  padding: 16px 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 8px;
}

.awp {
  grid-column: span 2;
}

.tags .tag {
  font-weight: 400;
  background-color: var(--color-primary-3);
  border: 0.5px solid var(--color-primary-3);
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: #878787;
  padding: 4px 8px;
  transition: 0.4s;
}

.tags .tag:hover {
  background: transparent;
  color: #878787;
}

.languages .languages-btn {
  align-items: center;
  background-color: transparent;
  border: 1px solid #878787;
  border-radius: 20px;
  color: var(--color-primary);
  font-weight: 700;
  cursor: pointer;
  width: 170px;
  margin: 20px auto 20px 20px;
  padding: 8px;
}

/*Footer*/
footer {
  display: grid;
  grid-area: footer;
}

footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary);
  font-size: 14px;
  padding: 11px 24px 7px 15px;
  background: linear-gradient(90deg, #1d2b53, #7e2553, #ff004d, #faef5d);
}

.footer .footer-text .footer-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.footer .footer-btn {
  display: grid;
  max-width: max-content;
  max-height: max-content;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--blackout);
  border-radius: 28px;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 20px;
  border: 0;
  cursor: pointer;
}

.hover-efect:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
